{% extends "layout.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="{{ app.request.basepath }}/assets/favicon.ico" />

    {% block themeCss %}

    {% endblock %}

    <title>SilexCOPS - {{ "Administration"|trans }}</title>

{% endblock %}

{% block mainBody %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            {% block menu %}
                {% include "admin/menu.html.twig" %}
            {% endblock %}
        </div>

        <div class="col-md-10">
        {% block rightContent %}
            {{ parent() }}
        {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}

{% block header %}
    {% include "admin/header.html.twig" %}
{% endblock %}
