{% extends "header.html.twig" %}
{% trans_default_domain "admin" %}

{% block switchLink %}
    <li><a href="{{ path("homepage") }}" title="{{ "Back to website"|trans }}">{{ "Back to website"|trans }}</a></li>
{% endblock %}

{% block selectdb %}{% endblock %}

{% block quicksearch %}{% endblock %}

{% block user_actions %}{% endblock %}
