{% extends "header.html.twig" %}

{% block switchLink %}
    - <a href="{{ path("homepage") }}" class="small" title="{{ "Back to website"|trans([], "admin") }}">{{ "Back to website"|trans([], "admin") }}</a>
{% endblock %}

{% block selectdb %}{% endblock %}

{% block quicksearch %}{% endblock %}

{% block user_actions %}{% endblock %}
