# Misc
/.project
/.settings
/.buildpath
/composer.phar

#config
/app/src/config.ini
!/app/src/config.ini.sample
/web/.htaccess
!/web/.htaccess.sample

# data
/data/*
/web/assets/books
/web/assets/select2
/vendor

