
<div id="left-menu">
    <ul>
        <li><a href="{{ path("admin_user_index") }}" title="{{ "User management"|trans([], "admin") }}">{{ "User management"|trans([], "admin") }}</a></li>
        {# <li><a href="{{ path("admin_opdsfeed_index") }}" title="{{ "Opds feeds"|trans([], "admin") }}">{{ "Opds feeds"|trans([], "admin") }}</a></li> #}
        <li><a href="{{ path("admin_database_triggers") }}" title="{{ "Database"|trans([], "admin") }}">{{ "Database"|trans([], "admin") }}</a></li>
    </ul>
</div>