/**
 * Tag declaration
 */
body {
    background:#fff;
    font-family: Helvetica, sans-serif;
}

/**
 * Generic styles
 */
.bold { font-weight:600; }
.small { font-size:0.78em; }
.block { display: block; }
.inline-block { display: inline-block; }
.nodecoration { text-decoration: none; }
.clear { clear:both; }
.f-left { float:left; }
.f-right { float:right; }
.center { text-align: center; }

h3 a { font-size: 0.98em; text-decoration:none; color:#666; }
h4 { font-size:0.82em; padding:0; margin:0; }
/**
 * General layout
 */
#main {
    width:98%;
    margin:0.5em auto 0 auto;
}

    #header {
        background:#eee;
        padding:1em;
    }

.mainContent {
    overflow:auto;
    margin:0 4px;
    padding:1em;
    border-left:#EEE 1px solid;
    border-right:#EEE 1px solid;
}

    .mainContent .book {
        margin-bottom:15px;
        background:#EEE;
    }

    .mainContent .book h3 {
        margin:0;
        padding:5px 0 5px 0;
    }

    .mainContent .book p {
        margin:4px 0;
    }

    .mainContent .book .cover {
        top:4px;
        text-align:center;
    }

    .mainContent .book .comment {
        padding-right:8px;
        text-align:justify;
    }

    .mainContent a.book_link {
        font-size:0.92em;
        font-weight:bold;
        color:#333;
    }

/**
 * Serie & author block on homepage
 */
#main ul.aggregated {
    padding:0 0 1em 0;
    margin-top:0 !important;
}
    #main ul.aggregated li {
        display:inline-block;
        float:left;
        margin:0 1em;
        color:#ccc;
    }
        #main ul.aggregated li strong {
            color:#000;
        }

/**
 * Book detail blocks
 */
#book_detail {

}
    #book_detail h1 {
        font-size:1.36em;
        text-align:left;
        margin:0;
    }
    #book_detail #cover {
        float:left;
        margin-left:32px;
    }

    #book_detail #infos {
        margin-left:240px;
    }

    #book_detail #comments {
        margin-bottom:12px;
        font-size:0.96em;
    }

    #book_detail #serie ul,
    #book_detail #author ul {
        display:block;
        float:left;
        margin-top:0.25em;
    }

    #book_detail #toggle-edit {
        display:block;
        font-size:0.82em;
        color:#000;
        margin-bottom:14px;
    }

/**
 * Serie detail blocks
 */
#serie_detail {
}
    #serie_detail .cover {
        float:left;
        margin:5px 15px 5px 5px;
    }

/**
 * Author detail blocks
 */
/**
 * Serie detail blocks
 */
#author_detail {

}
    #author_detail .cover {
        float:left;
        margin:5px 15px 5px 5px;
    }


/**
 * Search result blocks
 */
#search_results {

}
    #search_results .cover {
        float:left;
        margin:5px 15px 5px 5px;
    }


/**
 * Footer block
 */
#footer {
    font-size:0.81em;
    text-align:center;
    background:#eee;
}

/**
 * Paginator
 */
.paginator {
    padding:6px 0;
}
    .paginator .ui-icon {
        margin:0 4px;
        border:2px #CCC solid;
        position: relative;
        top: 4px;
    }