body {
    background:#fff;
}

#main {
    width:98%;
    margin:0.5em auto 0 auto;
}

    #header {
        background:#eee;
        padding:1em;
    }

.books.series ul li {
    display:inline-block;
    float:left;
    margin:1em;
}