body {
    background:#fff;
}

#main {
    width:98%;
    margin:0.5em auto 0 auto;
}

    #header {
        background:#eee;
        padding:1em;
    }

/**
 * Serie block on homepage
 */
.books ul.aggregated li {
    display:inline-block;
    float:left;
    margin:1em;
    color:#ccc;
}
    .books ul.aggregated li strong {
        color:#000;
    }