    <form class="navbar-form navbar-right" role="search" method="post" action="{{ path('search') }}">
        <div class="form-group">
            {% block searchInput %}
            <input id="search-input" name="keywords" class="form-control" placeholder="{{ "Author / Serie / Book title"|trans|escape }}" type="text" />
            {% endblock %}
            <button type="submit" class="btn btn-default">{{ "Search"|trans }}</button>
        </div>
    </form>
