{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block mainBody %}
    <h2>{{ "Algolia index status"|trans }}</h2>

    <div style="padding:4em 0;">
        {{ "Algolia service returned an error:%s"|trans|format(errorMsg)}}
    </div>

{% endblock %}
