{% extends 'mobile/mobile.html' %}

{% block mainBody %}
    <div data-role="page" data-theme="d" id="latest_added">

        <div data-role="header">
            <h1>Silex Cops HEADER</h1>
        </div>

        <div data-role="content">
            <h3>Last added books</h3>
            <div class="books latest">
                <ul>
                    {% for book in latestBooks %}
                    <li>{% include 'mobile/book_link.html' with {'book': book, 'showAuthor': true, 'class': 'small'} %}</li>
                    {% endfor %}
                </ul>
            </div>

            <div style="clear:both;">
                <a href="#home_series">Go to series</a>
                <a href="#home_authors">Go to authors</a>
            </div>

        </div>

    {% include "mobile/footer.html" %}

    </div>

    <div data-role="page" data-theme="d" id="home_series">

        <div data-role="header">
            <h1>Silex Cops HEADER</h1>
        </div>

        <div data-role="content">

            <h3>Access by Series ({{ countSeries }})</h3>
            <div class="books series">
                <ul class="aggregated">
                    {% for letter in letters %}
                    <li>
                    {% if seriesAggregated[letter] is defined %}
                        <strong>{{ letter }}</strong>
                    {% else %}
                        {{ letter }}
                    {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div style="clear:both;">
                <a href="#home_authors">Go to authors</a>
                <a href="#latest_added">Go to Home</a>
            </div>
        </div>

    {% include "mobile/footer.html" %}

    </div>

    <div data-role="page" data-theme="d" id="home_authors">
        <div data-role="header">
            <h1>Silex Cops HEADER</h1>
        </div>
        <div data-role="content">
            <h3>Access by Author ({{ countAuthors }})</h3>
            <div class="books authors">
                <ul class="aggregated">
                    {% for letter in letters %}
                    <li>
                    {% if authorsAggregated[letter] is defined %}
                        <strong>{{ letter }}</strong>
                    {% else %}
                        {{ letter }}
                    {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% include "mobile/footer.html" %}

    </div>

{% endblock %}