/**
 * Default theme styles for inline editing
 */

input.h1 {
    font-size: 1.36em;
}

div#comments textarea.comments {
    width:800px;
}
div.editable-input ul.select2-choices {
    padding-right:60px;
}
