{% set letters = ['#']|merge('A'..'Z') %}
{% set date_format = "m/d/Y"|trans %}

<!doctype html>
<html>
    <head>
        {% block head %}
            {% include 'head.html' %}
            <script type="text/javascript" src="{{ app.request.basepath }}/assets/jquery-2.0.0.min.js"></script>

        {% endblock %}
        {# beforeHeadEnd placeholder #}
        {% block beforeHeadEnd %}{% endblock %}
    </head>

    <body>
        {# afterBodyStart placeholder #}
        {% block afterBodyStart %}{% endblock %}

        <div id="main">
            {% block header %}
                {% include 'header.html' %}
            {% endblock %}

            {% block mainBody %}
            {% endblock %}

            {% block footer %}
                {%include 'footer.html' %}
            {% endblock %}
        </div>

        {# beforeBodyEnd placeholder #}
        {% block beforeBodyEnd %}
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/default/js/jquery-ui-1.10.3.custom.min.js"></script>
        {% endblock %}
    </body>

</html>