    <div class="container">
        <div class="col-xs-6 text-muted">{{ "SilexCOPS is licensed under WFTPL license."|trans }}</div>
        <div class="col-xs-6">{% block footerThemeLink %}{% endblock %}</div>
    </div>
