    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/default/css/black-tie/jquery-ui-1.10.4.custom.min.css" medias="all" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/default/main.css" media="all" />

    <title>SilexCOPS - {{pageTitle}}</title>
