{% extends "layout.html.twig" %}

{% block mainBody %}
<div id="search_results" class="container">

    <div class="row text-center" style="margin-top:8em;">
        {{ "No result found for your search.."|trans }}
    </div>

</div>
{% endblock %}
