{% extends "layout.html.twig" %}

{% block mainBody %}
<div class="container">

    <div class="row text-center" style="margin-top:8em;">
        {{ "No book found in this list.."|trans }}
    </div>

</div>
{% endblock %}
