{% extends "layout.html" %}

{% set date_format = "m/d/Y"|trans %}
{% set books = author.getAllBooks() %}

{% block mainBody %}
<div id="author_detail" class="mainContent">

    <h2 class="center">{{ author.getName() }}</h2>

    {% if books.count() > 1 %}
    <p>
        <span class="small">{{"Download author's books (%s) as archive:"|trans|format(books.count()) }}
        <a href="{{ app.url_generator.generate('author_download', {id: author.getId(), format: "zip"}) }}">zip</a> /
        <a href="{{ app.url_generator.generate('author_download', {id: author.getId(), format: "tar.gz"}) }}">tar.gz</a></span>
    </p>
    {% endif %}

    {% for book in books %}
        <div class="book ui-widget-content ui-state-active">

            {% include 'book_cover.html' with {'book': book} %}

            <h3><a href="{{ app.url_generator.generate('book_detail', {'id': book.getId()}) }}" title="{{ "See book detail"|trans }}">
                {% if book.getSerie().getId() %}{{book.getSerie().getName()}} {{"T"|trans}}.{{book.getSeriesIndex()|number_format(0)}} - {% endif %}
                {{ book.getTitle() }}
            </a></h3>

            <div class="comment small">{{ book.getComment()|striptags }}</div>
            {% include 'book_download_link.html' with {'book': book} %}

            <div class="clear"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}
