{% extends "layout.html" %}

{% set date_format = "m/d/Y"|trans %}

{% block mainBody %}
<div id="book_detail" class="mainContent">

    <div id="cover">
        {% set thumbnail = book.getCover().getThumbnailPath(160, 260) %}
        {% if thumbnail %}
            <img src="{{ thumbnail }}" alt="{{ book.getTitle()|escape }}" />
        {% endif %}
    </div>

    <div id="infos">
        <h1>{{ book.getTitle() }}</h1>

        {% set author = book.getAuthor() %}
        <p>{{"Author:"|trans}} <span class="bold">{{ book.getAuthor().getName() }}</span>
        {% set nbBooks = author.getNumberOfBooks %}
            {% if nbBooks > 1 %}
            <br />
            <span class="small">{{"Download author's books (%s) as archive:"|trans|format(nbBooks) }}
            <a href="{{ app.url_generator.generate('author_download', {id: author.getId(), format: "zip"}) }}">zip</a> /
            <a href="{{ app.url_generator.generate('author_download', {id: author.getId(), format: "tar.gz"}) }}">tar.gz</a></span>
            {% endif %}
        </p>

        <p>{{"Publication date:"|trans}} <span class="bold">{{ book.getPubdate()|date(date_format) }}</span></p>

        {% set serie = book.getSerie() %}
        {% if serie.getId() %}
        <p>{{"Serie:"|trans}} <span class="bold">{{ serie.getName()}}</span>
            {% set nbBooks = serie.getNumberOfBooks() %}
            {% if nbBooks > 1 %}
            <br />
            <span class="small">{{"Download whole serie (%s books) as archive:"|trans|format(nbBooks) }}
            <a href="{{ app.url_generator.generate('serie_download', {id: serie.getId(), format: "zip"}) }}">zip</a> /
            <a href="{{ app.url_generator.generate('serie_download', {id: serie.getId(), format: "tar.gz"}) }}">tar.gz</a></span>
            {% endif %}
        </p>
        {% endif %}

        {% include 'book_download_link.html' with {'book': book} %}

        <div id="comments">
            {{ book.getComment()|raw }}
        </div>

        {% if book.getSerie().getId() %}
            {% set serieBooks = book.getOtherBooksFromSerie() %}
            {%if serieBooks|length > 0 %}
        <div id="serie">
            {{"Other books in this serie:"|trans}} <br />
            <ul>
                {% for serieBook in serieBooks %}
                <li>{% include 'book_link.html' with {'book': serieBook, 'showAuthor': false} %}</li>
                {% endfor %}
            </ul>
        </div>
            {% endif %}
        <div class="clear"></div>
        {% endif %}

        {% set authorBooks = book.getOtherBooksFromAuthor() %}
        {% if authorBooks|length %}
        <div id="author">
            {{"Other books from this author:"|trans}} <br />
            <ul>
            {% for authorBook in authorBooks %}
                <li>{% include 'book_link.html' with {'book': authorBook, 'showAuthor': false} %}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
        {% endif %}

    </div>






</div>
{% endblock %}