{% extends "layout.html" %}

{% set date_format = "m/d/Y"|trans %}
{% set authorBooks = book.getOtherBooksFromAuthor() %}

{% block mainBody %}
<div id="book_detail">

    <div id="cover">
        {% if book.getCover().getThumbnailPath() %}
            <img src="{{ book.getCover().getThumbnailPath() }}" />
        {% endif %}
    </div>

    <div id="infos">
        <h1>{{ book.getTitle() }}</h1>
        <p>{{"Author:"|trans}} <span class="bold">{{ book.getAuthor().getName() }}</span></p>

        {% if book.getSerie().getId() %}
        <p>{{"Serie:"|trans}} <span class="bold">{{ book.getSerie().getName()}}</span></p>
        {% endif %}

        <p>{{"Publication date:"|trans}} <span class="bold">{{ book.getPubdate()|date(date_format) }}</span></p>
    </div>

    {% if book.getSerie().getId() %}
        {% set serieBooks = book.getOtherBooksFromSerie() %}
        {%if serieBooks|length > 0 %}
    <div id="serie">
        {{"Other books in this serie:"|trans}} <br />
        <ul>
        {% for serieBook in serieBooks %}
            <li>{% include 'book_link.html' with {'book': serieBook, 'showAuthor': false} %}</li>
        {% endfor %}
        </ul>
    </div>
        {% endif %}
    {% endif %}

    {% if authorBooks|length %}
    <div id="author">
        {{"Other books from this author:"|trans}} <br />
        <ul>
        {% for authorBook in authorBooks %}
            <li>{% include 'book_link.html' with {'book': authorBook, 'showAuthor': false} %}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock %}