{% extends "layout.html" %}

{% block mainBody %}
    <div class="js-accordion">
        <h3>{{"Last added books"|trans}}</h3>
        <div class="books latest">
            <ul>
                {% for book in latestBooks %}
                <li>{% include 'book_link.html' with {'book': book, 'showAuthor': true, 'class': 'tooltip'} %}</li>
                {% endfor %}
            </ul>
        </div>
        <h3>{{"Access by Series"|trans}} ({{ countSeries }})</h3>
        <div class="books series">
            <ul class="aggregated">
                {% for letter in letters %}
                <li>
                {% if seriesAggregated[letter] is defined %}
                    {% set urlLetter = letter %}
                    {% if letter == '#' %} {% set urlLetter = 0 %} {% endif %}
                    <strong><a href="{{ app.url_generator.generate('serie_list', {'letter': urlLetter}) }}" title="{{ letter }}">{{ letter }}</a></strong>
                {% else %}
                    {{ letter }}
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="aggregated_content"></div>
        </div>
        <h3>{{"Access by Author"|trans}} ({{ countAuthors }})</h3>
        <div class="books authors">
            <ul class="aggregated">
                {% for letter in letters %}
                    {% if authorsAggregated[letter] is defined %}
                        {% set urlLetter = letter %}
                        {% if letter == '#' %} {% set urlLetter = 0 %} {% endif %}
                    <li><strong><a href="{{ app.url_generator.generate('author_list', {'letter': urlLetter}) }}" title="{{ letter }}">{{ letter }}</a></strong></li>
                    {% else %}
                    <li>{{ letter }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="aggregated_content"></div>
        </div>
    </div>


    <div class="book-quick-access">

    </div>
{% endblock %}


{% block beforeBodyEnd %}
{{ parent() }}
<script type="text/javascript">
app = {
    init: function()
    {
        jQuery('.js-accordion').accordion(
            { collapsible: false }
        );

        jQuery('a.tooltip').tooltip({

        });

        jQuery('.books .aggregated a').click(function(e) {
            e.preventDefault();
            var url = jQuery(this).attr('href');
            jQuery(this).parents('div.books').find('.aggregated_content').load(
                url,
                function() {
                }
            );
        });
    }
}

jQuery(document).ready(function(){
    app.init();
});
</script>
{% endblock %}
