{% extends "layout.html" %}

{% block mainBody %}
    <div class="js-accordion">
        <h3>{{"Last added books"|trans}}</h3>
        <div class="books latest">
            <ul>
                {% for book in latestBooks %}
                <li><a href="{{ app.url_generator.generate('book_detail', {id: book.getId()}) }}" class="tooltip" title="{{ book.getTitle() }}">
                    {% if book.getSerieName() %}
                        {{book.getSerieName()}} T.{{book.getSerieIndex()}}
                        -
                    {% endif %}
                    {{ book.getTitle() }}
                    - {{ book.getAuthor() }} ({{ book.getYear() }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <h3>{{"Access by Series"|trans}} ({{ countSeries }})</h3>
        <div class="books series">
            <ul class="aggregated">
                {% for letter in letters %}
                <li>
                {% if seriesAggregated[letter] is defined %}
                    <strong>{{ letter }}</strong>
                {% else %}
                    {{ letter }}
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <h3>{{"Access by Author"|trans}} ({{ countAuthors }})</h3>
        <div class="books authors">
            <ul class="aggregated">
                {% for letter in letters %}
                <li>
                {% if authorsAggregated[letter] is defined %}
                    <strong>{{ letter }}</strong>
                {% else %}
                    {{ letter }}
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="book-quick-access">

    </div>
{% endblock %}


{% block beforeBodyEnd %}
{{ parent() }}
<script type="text/javascript">
app = {
    init: function()
    {
        jQuery('.js-accordion').accordion(
            { collapsible: false }
        );

        jQuery('a.tooltip').tooltip({

        });
    }
}

jQuery(document).ready(function(){
    app.init();
});
</script>
{% endblock %}
