{% extends "layout.html" %}

{% block mainBody %}
    <div class="js-accordion">
        <h3>Last added books</h3>
        <div class="books latest">
            <ul>
                {% for book in latestBooks %}
                <li>
                    {% if book.getSerieName() %}
                        {{book.getSerieName()}} T.{{book.getSerieIndex()}}
                        -
                    {% endif %}
                    {{book.getTitle()}}
                    - {{book.getAuthor()}} ({{book.getYear()}})
                </li>
                {% endfor %}
            </ul>
        </div>
        <h3>Access by Series</h3>
        <div class="books series">
            <ul>
                {% for letter in 'A'..'Z' %}
                <li>
                {% if seriesAggregated[letter] %}
                    {{letter}} ({{seriesAggregated[letter]}})
                {% else %}
                    {{letter}}
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <h3>Access by Author</h3>
        <div class="books author">
            <ul>
                <li>book #1</li>
                <li>book #1</li>
                <li>book #1</li>
                <li>book #1</li>
                <li>book #1</li>
            </ul>
        </div>
    </div>


    <div class="book-quick-access">

    </div>
{% endblock %}


{% block beforeBodyEnd %}
<script type="text/javascript">
app = {
    init: function()
    {
        jQuery('.js-accordion').accordion(
            { collapsible: false }
        );
    }
}

jQuery(document).ready(function(){
    app.init();
});
</script>
{% endblock %}