<!doctype html>
<html>
    <head>
        {% include 'head.html' %}
        {# beforeHeadEnd placeholder #}
        {% block beforeHeadEnd %}{% endblock %}
    </head>

    <body>
        {# afterBodyStart placeholder #}
        {% block afterBodyStart %}{% endblock %}

        <div id="main">
            {%include 'header.html' %}

            {% block mainBody %}

            {% endblock %}

            {%include 'footer.html' %}
        </div>

        {# beforeBodyEnd placeholder #}
        <script type="text/javascript" src="/assets/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/assets/default/js/jquery-ui-1.10.3.custom.min.js"></script>
        {% block beforeBodyEnd %}
        {% endblock %}
    </body>

</html>