{% extends "layout.html" %}

{% set date_format = "m/d/Y"|trans %}

{% set books = serie.getAllBooks() %}

{% block mainBody %}
<div id="serie_detail" class="mainContent">
    {{ serie.getName() }}

    {% if books.count() > 1 %}
        <br />
        <span class="small">{{"Download whole serie (%s books) as archive:"|trans|format(books.count()) }}
        <a href="{{ app.url_generator.generate('serie_download', {id: serie.getId(), format: "zip"}) }}">zip</a> /
        <a href="{{ app.url_generator.generate('serie_download', {id: serie.getId(), format: "tar.gz"}) }}">tar.gz</a></span>
    {% endif %}

    {% for book in books %}
        <div>
            {% set thumbnail = book.getCover().getThumbnailPath(80, 120) %}
            {% if thumbnail %}
            <div class="cover">
                <img src="{{ thumbnail }}" alt="{{ book.getTitle()|escape }}" />
            </div>
            {% endif %}
            <h3>{{ book.getTitle() }}</h3>
            <span class="small">{{ book.getComment()|striptags }}</span>
            {% include 'book_download_link.html' with {'book': book} %}
            <div class="clear"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}
