{% extends "layout.html.twig" %}

{% block mainBody %}
<div id="search_results" class="mainContent">

    <div style="margin:8em; text-align:center;">
        {{ "No book found in this list.."|trans }}
    </div>

</div>
{% endblock %}
